@use "global" as *;

.page-common-contact {
  margin-top: rem(105);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.page-common-contact--low {
  margin-top: rem(105);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.page-common-contact--far {
  @include mq("md") {
    margin-top: rem(117);
  }
}

.page-common-contact--about{
  @include mq('md') {
  margin-top: rem(127);
  }
}

.page-common-contact--campaign{
  @include mq('md') {
  margin-top: rem(138);
  }
}
