@use "global" as *;



.blog-detail {
    position: relative;
}




.blog-detail__head-date {
    font-size: rem(14);
}

.blog-detail__head-title {
    margin-top: rem(8);
    border-bottom: solid 1px $green-blue;
    padding-bottom: rem(3);

    @include mq('md') {
        font-size: rem(32);
        line-height: 1.45;
        padding-bottom: 0;

    }
}

.blog-detail__image {
    margin-top: rem(24);

    @include mq('md') {
        margin-top: rem(40);
    }
}

.blog-detail__image img {
     aspect-ratio: 345 / 231 ;
    object-fit: cover;
    @include mq('md') {
        aspect-ratio: 700 / 468 ;

    }
}

.blog-detail__contents {
    margin-top: rem(24);

    @include mq('md') {
        margin-top: rem(39);

    }
}

.blog-detail__contents>* {
    margin-top: rem(24);

    @include mq('md') {
        margin-top: rem(40);

    }

}


.blog-detail__contents ul {
    display: flex;
    flex-direction: column;
    gap: rem(4);

}

.blog-detail__contents li {
    position: relative;
    line-height: calc(24/16);
    padding-left: rem(27);
}

.blog-detail__contents li::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: rem(5);
    left: 0;
    width: rem(18);
    height: rem(18);
    background-image: url(../../../WordPressTheme/assets/images/common/_ヒトデ-blogdetail-sp.png);
    background-position: center;
    background-size: cover;
}


.blog-detail__pagination {
    margin-top: rem(40);
    padding-inline: 0;

    @include mq('md') {
        margin-top: rem(80);
    }
}