@use "global" as *;


.blog-sidebar {}

.blog-sidebar__inner {
    padding-inline: rem(25);
    @include mq('md') {
    padding-inline: 0;
    }
}

.blog-sidebar__container {
    display: flex;
    flex-direction: column;
    gap: rem(80);
}

.blog-sidebar__article {}

.blog-sidebar__review {}

.blog-sidebar__campaign {}

.blog-sidebar__archive {}