@use "global" as *;

.breadcrumb {
    position: relative;
}


.breadcrumb__inner {
    font-size: rem(14);
}


.breadcrumb__page-detail {
    display: flex;
    align-items: center;
    gap: rem(8);
}

.breadcrumb__page-arrow img {
    width: rem(4);
    height: rem(8);
    background-size: cover;

}

.breadcrumb--white {
    color: $white;
}


.breadcrumb__page {
    display: flex;
    align-items: center;
    // padding-top: rem(8);
    gap: rem(8);
    list-style: none;
}
