@use "global" as *;

.button{
  font-family: $second-font-family;
  display: inline-block;
  padding-left: rem(38);
  padding-right: rem(88);
  padding-block: rem(19);
  background-color: $green-blue;
  border: solid 1px $green-blue;
  line-height: 1;
  color: #ffffff;
  margin-right: rem(3);
  position: relative;
  transition: all 0.3s;
  z-index: 2;
  font-size: rem(14);
  margin-bottom: rem(6);
  cursor: pointer;
}

.button.button--send{
  padding-left: rem(55);
  padding-right: rem(112);
  padding-top: rem(21);
  padding-bottom: rem(19);

}
.button.button--send::after{
  content: "";
  display: inline-block;
  position: absolute;
  width: rem(202);
  height: rem(55);
  top: 0;
  left: 0;
  margin-top: rem(4);
  margin-left: rem(4);
  border: solid 1px $green-blue;
  z-index: -2;
}

.button::before{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left top;
  transform: scale(0, 1);
  background-color: #ffffff;
  transition: all 0.3s;
  z-index: -1;
}

.button::after{
  content: "";
  display: inline-block;
  position: absolute;
  width: rem(202);
  height: rem(53);
  top: rem(3);
  left: 0;
  margin-top: 0;
  margin-left: rem(2);
  box-shadow: 0 0 0 1px $green-blue;
  z-index: -2;
}

.button span{
  font-family: $second-font-family;
}

.arrow{
  line-height: 1;
  position: relative;
}

/* 右向き */
.arrow::after{
  content: "";
  position: absolute;
  width: rem(40);
  height: 7px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: skew(45deg);
  top: rem(6);
  left: rem(5);
}

/* 右向き */
.arrow--contact::after{
  left: rem(13);
  top: rem(5);
}

/* .hover
-------------------------------------------------------------*/
.button:hover{
  color: $green-blue;
}

.button:hover::before{
  transform: scale(1, 1);
}

.button:hover .arrow::after{
  border-right: 1px solid $green-blue;
  border-bottom: 1px solid $green-blue;
}

/* button--white
-------------------------------------------------------------*/
.button--white{
  padding-left: rem(40);
  padding-right: rem(95);
  padding-block: rem(20);
  color: $green-blue;
  background-color: $white;
  position: relative;
}

.button--white::before{
  background-color: $green-blue;
}

.button.button--white::after{
  content: "";
  display: inline-block;
  position: absolute;
  width: rem(200);
  height: rem(55);
  top: 0;
  left: 0;
  margin-top: rem(4);
  margin-left: rem(4);
  // border: solid 1px $white;
  box-shadow: 0 0 0 1px $white;
  z-index: -2;
}

.arrow--white{
  line-height: 1;
  position: relative;
}

/* 右向き */
.arrow--white::after{
  content: "";
  position: absolute;
  width: rem(40);
  height: 7px;
  border-right: 1px solid $green-blue;
  border-bottom: 1px solid $green-blue;
  transform: skew(45deg);
  top: rem(6);
  left: rem(12);
}

.button--white:hover{
  color: $white;
  background-color: $green-blue;
  border: solid 1px $white;

}

.button--white:hover::before{
  transform: scale(1, 1);
}

.button--white:hover .arrow--white::after{
  border-right: 1px solid $white;
  border-bottom: 1px solid $white;
}