@use "global" as *;

.error {
    background-color: $green-blue;
    box-shadow: 0px 1px 0px 0px $green-blue;
    position: relative;
    z-index: 0;
}

.error::after{
    background-color: $green-blue;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;

}

.error__container {
    position: relative;
    color: $white;
    margin-top: rem(60);
    z-index: 1;

    @include mq('md') {
        margin-top: rem(133);

    }
}


.error__inner {
    text-align: center;

}

.error__container::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: rem(345);
    height: rem(345);
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../../WordPressTheme//assets/images/common/CodeUps-404-whale.svg);
    background-position: center;
    z-index: 0;

    @include mq('md') {
        width: rem(698);
        height: rem(698);
        background-size: contain;
        top: 48%;
        left: calc(50% - min(48%, 11.7em));
    }

}

.error__content {}


.error__title {
    font-size: rem(80);
    font-family: $third-font-family;
    font-weight: $normal;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    line-height: 1;

    @include mq('md') {
        font-size: rem(160);

    }
}

.error__text {
    margin-top: rem(2);

    @include mq('md') {
        margin-top: rem(41);

    }
}

.error__link {
    margin-top: rem(40);
    margin-inline: auto;

    @include mq('md') {
        margin-top: rem(80);

    }
}