@use "global" as *;


.faq-list{}

.faq-list__question {
    position: relative;
    padding-block: rem(16);
    padding-left: rem(16);
    padding-right: rem(60);
    background-color: $green-blue;
    cursor: pointer;

    @include mq('md') {
        padding-top: rem(26);
        padding-right: rem(100);
        padding-bottom: rem(24);
        padding-left: rem(40);

    }
}

.faq-list__question::before,
.faq-list__question::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: rem(28);
    height: rem(2);
    background-color: $white;

}

.faq-list__question::before {
    right: rem(15);
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(0deg);
    transition: all 0.3s;

    @include mq('md') {
        right: rem(42);


    }
}

.faq-list__question::after {
    right: rem(16);
    top: 50%;
        transform: translateY(-50%);

    @include mq('md') {
        right: rem(42);

    }

}

.faq-list__question.active::before {
    transform: rotate(-90deg);
}

.faq-list__question-text {
    color: $white;

    @include mq('md') {
        font-size: rem(20);

    }
}



.faq-list__answer {
    display: block;

    @include mq('md') {
        margin-top: rem(16);
    }

}

.faq-list__answer.active {
    display: none;

}

.faq-list__answer-text {
    padding: rem(24) rem(16);
    border-bottom: solid 1px $green-blue;
    border-left: solid 1px $green-blue;
    border-right: solid 1px $green-blue;
    line-height: 1.42;

    @include mq('md') {
        border-top: solid 1px $green-blue;
        padding-top: rem(39);
        padding-bottom: rem(40);
        padding-inline: rem(39);
    }
}