@use "global" as *;

.footer {
  padding-top: rem(48);
  padding-bottom: rem(56);
  background-color: $green-blue;

  @include mq('md') {
    padding-top: rem(80);
  }
}

.footer__wrapper {}

.footer__inner {}


.footer__headline {

  @include mq('md') {
    display: flex;
    // gap: rem(43);
    gap: rem(40);     //2024/10/23 修正
    // align-items: end;

  }
}

.footer__logo {}

.footer__logo img {
  width: rem(120);

  @include mq('md') {
    width: rem(200);

  }
}

.footer__sns-icon {
  display: flex;
  gap: rem(16);
  margin-top: rem(16);

  @include mq('md') {
    // gap: rem(19);
    margin-top: rem(36); //2024/10/23 修正

  }
}

.footer__sns-icon img {
  width: rem(24);

  @include mq('md') {
    width: rem(32);
  }
}

.footer__sns-facebook {}

.footer__sns-instagram {}

.footer__menu{
  margin-top: rem(16);
  // margin-top: rem(40);
  @include mq('md') {
    // margin-top: rem(29);
    margin-top: rem(22);      //2024/10/23 修正


  }
}

.footer__copyright {
  font-size: rem(12);
  margin-top: rem(38);
  text-align: center;
  color: #fff;
  font-family: $second-font-family;

  @include mq('md') {
    font-size: rem(14);
    margin-top: rem(74);
  }
}