@use "global" as *;

.info-section {
	position: relative;
}

.info-section::before {
	content: "";
	display: block;
	width: rem(120);
	height: rem(55);
	position: absolute;
	left: calc(50% - min(45.9%, 38.7em));
	top: rem(-22);
	background-image: url(../../../WordPressTheme/assets/images/common/_キンギョハナダイ-右向き-sp.png);
	background-size: cover;
	z-index: -1;

	@include mq('md') {
		content: "";
		display: block;
		width: rem(301);
		height: rem(138);
		position: absolute;
		top: rem(-72);
		left: calc(50% - min(48%, 38.7em));
		background-image: url(../../../WordPressTheme/assets/images/common/_キンギョハナダイ-右向き-sp.png);
		background-size: cover;
	}
}

.info-section__tab {}



.info-section__article {
	margin-top: rem(16);

	@include mq('md') {
		margin-top: rem(24);

	}

}
