@use "global" as *;



.low-blog {}

.low-blog__wrapper {
    // margin-top: rem(80);
    // padding-inline: rem(6);
    display: flex;
    flex-direction: column;
    gap: rem(80);

    @include mq('md') {
        flex-direction: row;
        padding-inline: 0;
        justify-content: space-between;
        gap: 0;
    }
}

.low-blog__wrapper--blog {
    @include mq('md') {
        gap: rem(80);

    }
}

.low-blog__main {
    @include mq('md') {
        width: 72.5%;
    }
}

.low-blog__main--blog {
    @include mq('md') {
        width: 70%;
    }
}

.low-blog__pagination {
    margin-top: rem(80);
    padding-inline: 0;
}

.low-blog__pagination--pc {
    @include mq('md') {
        margin-top: rem(77);
    }
}

.low-blog__sidebar {
    @include mq('md') {
        width: 28.5%;
    }

}

.low-blog__sidebar--blog {
    @include mq('md') {
        width: 29%;

    }
}