@use "global" as *;

.price-section {
    position: relative;
}

.price-section::before {
    content: "";
    display: block;
    width: rem(120);
    height: rem(55);
    position: absolute;
    left: calc(50% - min(45.9%, 38.7em));
    top: rem(-24);
    background-image: url(../../../WordPressTheme/assets/images/common/_キンギョハナダイ-右向き-sp.png);
    background-size: cover;
    z-index: -1;

    @include mq('md') {
        content: "";
        display: block;
        width: rem(301);
        height: rem(138);
        position: absolute;
        top: rem(-71);
        left: calc(50% - min(48%, 38.7em));
        background-image: url(../../../WordPressTheme/assets/images/common/_キンギョハナダイ-右向き-sp.png);
        background-size: cover;
    }

}

.price-section__inner.inner {
    @include mq('md') {
    max-width: rem(750);
    }
}
