@use "global" as *;

.privacy-policy {

}

.privacy-policy__inner {
    @include mq('md') {
        max-width: rem(850);

    }

}

.privacy-policy__content {
    line-height: 2;
    @include mq('md') {
        max-width: rem(800);
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

}

.privacy-policy__title {
    font-size: rem(24);
    @include mq('md') {
        font-size: rem(32);

    }

}

.privacy-policy__text{
    margin-top: rem(33);
    // letter-spacing: 0.025em;

    @include mq('md') {
        margin-top: rem(31);
        // letter-spacing: 0.01em;

    }
}

.privacy-policy__text ol li{
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 1.4em;
    text-indent: -1em;

}
