@use "global" as *;


.sidebar-campaign {}


.sidebar-campaign__cards  {
    margin-top: rem(23);

}

.sidebar-campaign__card {}

.sidebar-campaign__link{
    margin-top: rem(40);
    text-align: center;
}