@use "global" as *;

.site-guide {}

.site-guide__wrapper {
  display: flex;
  color: $white;
  // margin-top: rem(38);
  // margin-left: rem(10);
  // gap: rem(18);
  justify-content: center;

  @include mq("md") {
    flex-wrap: nowrap;
    // gap: rem(122);   //default
    gap: rem(125);
    // margin-top: rem(22);
    justify-content: left;
  }
}




.site-guide__group {
  // margin-left: rem(38);

  @include mq("md") {
    display: flex;
    // gap: rem(120); //default
    gap: rem(125);
  }
}

.site-guide__group.site-guide__group--right {
  margin-left: rem(7);

  @include mq('md') {
    margin-left: 0;

  }
}



.site-guide__group-box {
  // margin-top: rem(40);
  margin-top: rem(20);

  @include mq('md') {
    margin-top: 0;

  }
}

.site-guide__group-box.site-guide__group-box--head {
  // margin-top: rem(40);
  margin-top: rem(34);

  @include mq('md') {
    margin-top: 0;

  }
}

.site-guide__group-lists {}

//太字なし上の余白アリ
.site-guide__group-list {
  margin-left: rem(18);
  margin-top: rem(18);
}



.site-guide__list--space a {
  display: flex;
  flex-direction: column;

  @include mq('md') {
    flex-direction: row;

  }
}


// 太字で上の余白無し
.site-guide__list--top {
  padding-left: rem(20);
  // margin-left: rem(12);
  margin-left: 0;
  margin-top: 0;
  font-weight: 700;
  position: relative;
}

// 太字で余白広め
.site-guide__list--space,
.site-guide__list--line {
  padding-left: rem(20);
  // margin-left: rem(12);
  margin-left: 0;
  position: relative;
  font-weight: 700;
}

.site-guide__list--space {
  margin-top: rem(34);

}

.site-guide__list--line {
  margin-top: rem(36);
  line-height: 1.25;

}



.site-guide__list--top::before,
.site-guide__list--space::before,
.site-guide__list--line::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: rem(3);
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/ヒトデ-sp.png);
  background-size: cover;
}



.site-guide__group-list:hover a {
  opacity: 0.5;
}

.site-guide__list--space:hover a {
  opacity: 0.5;
}

/* .sitemap
-------------------------------------------------------------*/
.site-guide__wrapper.site-guide__wrapper--black {
  color: black;
  // justify-content: space-between;
  gap: rem(30);

  @include mq('md') {
    gap: rem(142);

  }
}

.site-guide__group.site-guide__group--map {

  @include mq('md') {
    // gap: 0;
    margin-left: rem(7);
  }
}


// 太字で上の余白無し
.site-guide__group-list.site-guide__list--topblk {
  padding-left: rem(20);
  // margin-left: rem(12);
  margin-left: 0;
  margin-top: 0;
  font-weight: 700;
  position: relative;
}

// 太字で余白広め
.site-guide__group-list.site-guide__list--spaceblk,
.site-guide__group-list.site-guide__list--lineblk {
  padding-left: rem(20);
  // margin-left: rem(12);
  margin-left: 0;
  position: relative;
  font-weight: 700;
}

.site-guide__list--spaceblk {
  margin-top: rem(34);

}

.site-guide__list--lineblk {
  margin-top: rem(36);
  line-height: 1.25;

}



.site-guide__list--topblk::before,
.site-guide__list--spaceblk::before,
.site-guide__list--lineblk::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: rem(3);
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/ヒトデ-black-sp.png);
  background-size: cover;
}